.footer-form{

  .success {
    /*background-color: #23A7E4;*/
    background-color: #43A0C0 !important;
    color: white !important;

    &:disabled {
      background-color: #DBF0FB !important;
      color: rgba(0,0,0,0.38)  !important;
    }
  }
  

  .cancel{
    background-color: white !important;
    color: black !important;
  }

  .back{
    background-color: #ABB2B9 !important;
    color: white !important;
  }

  .clear{
    background-color: #42A5F5 !important;
    color: white !important;
  }
}

.hds-gray-btn{
    background-color: #23A7E4!important;/*#D8D8D8 !important;*/
    color: white; /*black !important;*/
}

.hds-primary-btn{
    background-color: #23A7E4!important;/*#D8D8D8 !important;*/
    color: white; /*black !important;*/
}

.well{
  margin: 10px;
} 

.well-sm{
  padding: 9px;
  border-radius: 3px;
}

.mat-radio-outer-circle {
  .mat-radio-checked & {
    border-color: black !important;
  }
}

.mat-radio-inner-circle {
  background-color: black !important;
}

.mat-radio-ripple .mat-ripple-element {
  background-color: rgba(black, 0.26) !important;
}


.mat-checkbox-checked {
  &.mat-accent .mat-checkbox-background {
    background-color: black !important;
  }
}

.mat-checkbox:not(.mat-checkbox-disabled) {
  &.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: rgba(black, 0.16) !important;
  }
}

